<!-- Three point section -->
<section id="three-pointer">
    <div class="container">
        <div class="row">
            <h2>How DistaSense® Works</h2>
        </div>
        <div class="row">
            <div class="col-sm">
                <img src="assets/images/icon-circles.svg" alt="icon radiating concentric circles">
                <h4>Create EM Field</h4>
                <p>Setting up this technology is very simple & straight forward.</p>
            </div>
            <div class="col-sm">
                <img src="assets/images/icon-waves.svg" alt="icon radiating concentric circles">
                <h4>Living Tissues Disrupt EM Field</h4>
                <p>This method of data accumulation is very unobtrusive & patient friendly.</p>
            </div>
            <div class="col-sm">
                <img src="assets/images/icon-graph.svg" alt="icon radiating concentric circles">
                <h4>Disruptions are Monitored</h4>
                <p>Industry leading data accuracy with unlimited potential applications.</p>
            </div>
        </div>
        <div class="row cta-section">
            <p class="text-center">
                <a href="#" class="cta-button">Learn more</a>
            </p>        
        </div>
    </div>
</section>

<!-- Testimonial -->
<section id="testimonial-01">
    <div class="container">
        <div class="row">
            <div class="testimonial-center">
                <p class="testimonial">
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
                </p>
                <p class="name">Doctor Doolittle</p>
                <p class="title">HEAD DOCTOR AT HOSPITAL</p>
            </div>
        </div>
    </div>
</section>

<!-- Video section -->
<section id="home-video">
</section>

<!-- Better data  -->
<section id="deep-dive">
    <div class="container">
        <div class="row">
            <h2>Better data, Better results.</h2>
        </div>
        <div class="row">
            <div class="col-sm">
                    <div class="img-parent">
                        <img src="assets/images/icons-better-section/stats-lines-pipes.svg" alt="">
                    </div>
                <div class="text-container">
                    <h4>Provides unmatched data accuracy </h4>
                    <p>Greater data accuracy than other non-contact monitoring solutions.</p>
                </div>
            </div>
            <div class="col-sm">
                <div class="img-parent">
                    <img src="assets/images/icons-better-section/sprint.svg" alt="">
                </div>
                <div class="text-container">
                    <h4>Provides unmatched data accuracy </h4>
                    <p>Greater data accuracy than other non-contact monitoring solutions.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                    <div class="img-parent">
                        <img src="assets/images/icons-better-section/rocket@1x.svg" alt="">
                    </div>
                <div class="text-container">
                    <h4>Provides unmatched data accuracy </h4>
                    <p>Greater data accuracy than other non-contact monitoring solutions.</p>
                </div>
            </div>
            <div class="col-sm">
                <div class="img-parent">
                    <img src="assets/images/icons-better-section/sport-shirt.svg" alt="">
                </div>
                <div class="text-container">
                    <h4>Provides unmatched data accuracy </h4>
                    <p>Greater data accuracy than other non-contact monitoring solutions.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                    <div class="img-parent">
                        <img src="assets/images/icons-better-section/ambulance.svg" alt="">
                    </div>
                <div class="text-container">
                    <h4>Provides unmatched data accuracy </h4>
                    <p>Greater data accuracy than other non-contact monitoring solutions.</p>
                </div>
            </div>
            <div class="col-sm">
                <div class="img-parent">
                    <img src="assets/images/icons-better-section/medical-history.svg" alt="">
                </div>
                <div class="text-container">
                    <h4>Provides unmatched data accuracy </h4>
                    <p>Greater data accuracy than other non-contact monitoring solutions.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Invest now CTA -->
<section id="invest">
    <div class="invest-parent">
        <h2>Investing in the Future Starts Now</h2>
        <p>Partner with us & help revolutionize the intersection of healthcare & technology for non contact vital monitoring.</p>
        <a href="#" class="cta-button secondary">Learn more</a>
    </div>
</section>