<section id="hero-split">
    <div class="container">
        <div class="row">
            <div class="side-1 col-sm">
                <p class="category">THE DIFFERENCE</p>
                <h1>Our Technology</h1>
                <p>Our patented technologies can capture heart and respiration rates with absolutely no user contact using virtually anything that is electrically conductive as our primary sensor. Our technology can be integrated into an ASIC, electrically conducted thread woven into fabric or anything in between.</p>
                <a href="#">Get in touch<i class="fas fa-arrow-right"></i></a>
            </div>
            <div class="side-2 col-sm">
                <img src="assets/images/lungs.svg" alt="">
            </div>
        </div>
    </div>
</section>