<!-- old tech section -->
<section id="old-tech">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img src="assets/images/old-tech-beta.png" alt="">
            </div>
            <div class="col-sm">
                <p class="category">old technology</p>
                <H2>Todays vital sign monitoring solutions are limiting.</H2>
                <ul>
                    <li>Physical contact required to gather data.
                        </li>
                    <li>Contact can be invasive and uncomfortable for the patient.
                        </li>
                    <li>Contact can be easily lost when the patient is moving or sleeping.
                        </li>
                    <li>Data can be comproimised by the innate shortcomings of this method of vital sign monitoring</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- new tech section -->
<section id="new-tech-section">
    <div class="container">
        <div class="row number-heading">
            <p class="category">New technology</p>
            <h2>How Distasense® outperforms current solutions</h2>
        </div>
        <div class="row number-section">
            <div class="col-sm">
                <span>1</span>
                <p>No physical contact required for vital sign mornitoring</p>
            </div>
            <div class="col-sm">
                <span>2</span>
                <p>Greater data accuracy than current methods of vital data monitoring</p>
            </div>
            <div class="col-sm">
                <span>3</span>
                <p>Much less invasive and more comfortable for the patient</p>
            </div>
        </div>
    </div>
</section>